body {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: url(https://api.wallpapers.ai/static/downloads/5504d043007346d5b59f028cd21d8365/upscaled/000000_336894884_kdpmpp2m15_PS7.5_Create_Pok_mon-inspired_desktop_wallpaper_a_scenic_landscape_with_rolling_hills,_lush_greenery,_and_pathways,_echoing_the_franchis_[upscaled].jpg) no-repeat center center fixed;
  font-family: 'Pokemon Solid', sans-serif;
  letter-spacing: 5px;
                                               
}

/* homepage */

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7rem;
  background-color: #0000008f;
  padding: 1rem 2rem;
}

.navbar a {
  text-decoration: none;
  color: #f7eb08;
  text-shadow: 2px 2px 2px #000;
  font-size: 3rem;
  letter-spacing: 5px;

}

.navbar a:hover {
  color:  #bb1cf5;
}

.homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
  max-width: 1200px;
  padding: 2rem;
  background-color: #1e1e1c8f;
  border-radius: 5px;
}

.homepage h1{
  text-align: center;
  font-size: 6rem;
  color: #5cf708;
  text-shadow: 2px 2px 2px #000;
}

.homepage p{
  text-align: center;
  font-size: 4rem;
  color: #d0ff00;
  text-shadow: 2px 2px 2px #000;
  letter-spacing: 6px;
}

.homepage button {
  padding: 1rem 2rem;
  font-size: 2rem;
  background-color: #0000008f;
  color:#d0ff00;
  border: 1px solid #090904;
  border-radius: 5px;
  margin-top: 2rem;
  cursor: pointer;
}

.homepage button:hover {
  background-color: #be13fd8f;
  color: #e5dcdc;
}

/* pokemons page */

.homepage-pokemons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
  padding: 2rem;
}
.homepage-pokemons h1{
  text-align: center;
  font-size: 7rem;
  color: #78f708;
  text-shadow: 2px 2px 2px #000;
}
.pokemons-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}
.homepage-pokemons ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.pokemon-card {
  text-decoration: none;
  color: #78f708;
  border: 1px solid #000;
  background-color: #00000081;
  padding: 1rem;
  border-radius: 10px;
  font-size: 2rem;
  margin-top: 0.5rem;
  max-width:60%;
  display: flex;
  justify-content: center;
}

.pokemon-card:hover {
  background-color: #be13fd8f;
}

.pokemon-card a{
  text-decoration: none;
  color: #000;
  text-align: center;
}


/* pokemon one */



/* pokemon info */

.pokemon-info-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  max-width: 1200px;
  padding: 2rem;
  background-color: #1e1e1c8f;
  border-radius: 5px;
}

.pokemon-info-details h1{
  text-align: center;
  font-size: 3rem;
  color: #78f708;
  text-shadow: 2px 2px 2px #000;
}

.pokemon-info-details h2 {
  text-align: center;
  font-size: 2rem;
  color: #c300ff;
  text-shadow: 2px 2px 2px #000;
  margin: 0;
}

.pokemon-info-details li {
  text-align: center;
  font-size: 2rem;
  color: #78f708;
  text-shadow: 2px 2px 2px #000;
  margin: 0;
}
 /* battle */

 .BATTLe {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  max-width: 1200px;
  padding: 2rem;
  background-color: #0707078f;
  border-radius: 5px;
 }



 .pokemoninBattle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  max-width: 1200px;
  padding: 2rem;
  background-color: #e3e31d8f;
  border-radius: 5px;
 }

 .pokemoninBattle h2 {
  text-align: center;
  font-size: 2rem;
  color: #78f708;
  text-shadow: 2px 2px 2px #000;
}

.pokemoninBattle p{
  text-align: center;
  font-size: 1rem;
  color: #78f708;
  text-shadow: 2px 2px 2px #000;
  margin: 0;
}













/* choose your pokemon */
.choose-your-pokemon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  max-width: 1200px;
  padding: 2rem;
  background-color: #1e1e1c8f;
  border-radius: 5px;
}

.choose-your-pokemon h1{
  text-align: center;
  font-size: 5rem;
  color: #78f708;
  text-shadow: 2px 2px 2px #000;
}

.choose-your-pokemon h3{
  text-align: center;
  font-size: 3rem;
  color: #d0ff00;
  text-shadow: 2px 2px 2px #000;
  letter-spacing: 6px;
}

.choose-your-pokemon form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.choose-your-pokemon label{
  text-align: center;
  font-size: 2rem;
  color: #d0ff00;
  text-shadow: 2px 2px 2px #000;
  letter-spacing: 6px;
}

.choose-your-pokemon select {
  padding: 1rem 2rem;
  font-size: 2rem;
  background-color: #0000008f;
  color:#d0ff00;
  border: 1px solid #090904;
  border-radius: 5px;
  margin-top: 2rem;
  cursor: pointer;
}

.select-player {
  margin-top: 2rem;

}

.select-player h2{
  text-align: center;
  font-size: 1.5rem;
  color:#d0ff00;
  text-shadow: 2px 2px 2px #000;
}

button {
  padding: 1rem 2rem;
  font-size: 2rem;
  background-color: #0dff258f;
  color:#000000;
  border: 1px solid #090904;
  border-radius: 5px;
  margin-top: 2rem;
  cursor: pointer;
}

button:hover {
  background-color: #be13fd8f;
  color: #e5dcdc;
}

.pokemon-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem auto;
  max-width: 1200px;
  padding: 2rem;
  background-color: #ffffff39;
  border-radius: 5px;
}

.pokemon-details h2{
  text-align: center;
  font-size: 2rem;
  color: #78f708;
  text-shadow: 2px 2px 2px #000;
  margin: 0;
}

.pokemon-details img {
  width: 300px;
  height: 300px;
  margin: 0 auto;
}

.pokemon-details p{
  text-align: center;
  font-size: 2rem;
  color: #78f708;
  text-shadow: 2px 2px 2px #000;
  margin: 0;
}

.stats-list {
  text-align: center;
  list-style: none;
  font-size: 1rem !important;
  color: #f70870 !important;
  text-shadow: 2px 2px 2px #000;
  padding: 0;
}

.game-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  max-width: 1200px;
  padding: 2rem;
  background-color: #1e1e1c8f;
  border-radius: 5px;
}

.selected-pokemonDisplay {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;

}

/* Leaderboard */

.leaderboard h1 {
  text-align: center;
  font-size: 5rem;
  color: #78f708;
  text-shadow: 2px 2px 2px #000;
  margin: 0;
  letter-spacing: 10px;
}

.game-card p{
  text-align: center;
  font-size: 2rem;
  color: #78f708;
  text-shadow: 2px 2px 2px #000;
  margin: 0;
}

